<div style="position: absolute;z-index: -1;top: 10%;bottom: 0;left:0;right: 0;background: url('/assets/img/poulinagh.png') center center;
opacity: 0.5;width: 100%;height: 100%;background-repeat: no-repeat;background-size: cover;">

</div>

<div class="main-content" >    

            <h1 style=" font-weight: bold;color:#c93a3a;font-size: 60px;">Pannes<img src="/assets/img/425_exclamation_mark_bubble_outline.gif" 
                style="max-height: 100px;"/></h1>

<div class="row">
    <div class="col-lg-1" >
    </div>
    <div class="col-lg-10" >
  <div class="mycontainer">
    <input type="text" placeholder="Chercher...." 
    (input)="dt.filterGlobal($event.target.value,'contains')">
    <div class="mysearch"></div>
  </div>
    </div>
</div>
    
    <br>
    
           
 <p-table  [globalFilterFields]="['labelMachine']"  #dt [paginator]="true" [rows]="5" [value]="pannes">
    <ng-template pTemplate="caption">
    </ng-template>

    
    
 
       <ng-template pTemplate="header">
 
           <tr>
    
               <th style="font-size: 15px;">ID</th>
               <th style="font-size: 15px;">Etat</th>  
               <th style="font-size: 15px;">Description</th>
               <th [pSortableColumn]="'labelMachine'" style="font-size: 15px;">Label Machine<p-sortIcon [field]="'labelMachine'"></p-sortIcon></th>  

               <th style="font-size: 15px;" *ngIf="isAdmin">Actions</th>


               
  
           </tr>
   
       </ng-template>
 
       <ng-template pTemplate="body" let-panne>
  
           <tr>
                
               <td style="font-size: 15px;">{{panne.id_panne}}</td>
               <td style="font-size: 15px;">{{panne.etat_panne}}</td>
               <td style="font-size: 15px;">{{panne.description}}</td>
               <td style="font-size: 15px;">{{panne.labelMachine}}</td>

               
                <td style="text-align: center;" *ngIf="isAdmin">
                    <button id="b1" pButton type="button" (click)="openComponentForUpdate(panne)" 
                    label="Mettre à jour" class="p-button-success" style="width: 170px; height: 40px; font-size: 20px;">
                </button>

                    <button id="b2" pButton type="button" (click)="onAjoutIntervention(panne.id_panne)" 
                    label="+Intervention" class="p-button-warning" style="width: 170px; height: 40px; font-size: 20px;">
                </button></td>
                    



 
              
               
  
           </tr>
       </ng-template>
  
     </p-table>
 
 </div>