#b1:hover {
    background: transparent;
    color: black;
    box-shadow: 0 0 5px green,
                0 0 25px green,
                0 0 50px green,
                0 0 200px green;
  
  }